@import "tailwindcss";

@theme {
  /* Primary Color Shades */
  --color-primary-50: #f3faf8;
  --color-primary-100: #d8efea;
  --color-primary-200: #b1ded5;
  --color-primary-300: #82c6bb;
  --color-primary-400: #58a9a0;
  --color-primary-500: #3e8c84;
  --color-primary-600: #30716b;
  --color-primary-700: #2a5b57;
  --color-primary-800: #254a48;
  --color-primary-900: #223f3d;
  --color-primary-950: #0f2423;

  /* Secondary Color Shades */
  --color-secondary-50: #f2fbf3;
  --color-secondary-100: #e1f7e4;
  --color-secondary-200: #c4eec9;
  --color-secondary-300: #96df9f;
  --color-secondary-400: #61c76e;
  --color-secondary-500: #45bf55;
  --color-secondary-600: #2c8d39;
  --color-secondary-700: #266f30;
  --color-secondary-800: #22592a;
  --color-secondary-900: #1e4925;
  --color-secondary-950: #0b2810;
}

:root {
  font-family: "72", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
